Creds/Connected Services/TestCredentials/DSServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core.RequestMessages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core.RequestMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://oc.services.debitsuccess.com/DSWebService/DSServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" />
  <xs:complexType name="RequestAdjustAccountAppendNotes">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q1:RequestMessageByAccountIdBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NoteTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestAdjustAccountAppendNotes" nillable="true" type="tns:RequestAdjustAccountAppendNotes" />
  <xs:complexType name="RequestRetrieveOverdueStatus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q2:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestRetrieveOverdueStatus" nillable="true" type="tns:RequestRetrieveOverdueStatus" />
  <xs:complexType name="RequestGetPaymentToken">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q3:RequestMessageByAccountIdBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CallBackUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateOneOffCharge" type="xs:boolean" />
          <xs:element minOccurs="0" name="PayMethodType" type="q3:PayMethodType" />
          <xs:element minOccurs="0" name="PaymentNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestType" type="q3:PayNowRequestType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetPaymentToken" nillable="true" type="tns:RequestGetPaymentToken" />
  <xs:complexType name="RequestGetCasualPaymentToken">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q4:RequestMessageFacilityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CallBackUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentRef" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetCasualPaymentToken" nillable="true" type="tns:RequestGetCasualPaymentToken" />
  <xs:complexType name="RequestGetCasualPaymentsForDateRange">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q5:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetCasualPaymentsForDateRange" nillable="true" type="tns:RequestGetCasualPaymentsForDateRange" />
  <xs:complexType name="RequestGetCasualPaymentsByPaymentRef">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q6:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentRef" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetCasualPaymentsByPaymentRef" nillable="true" type="tns:RequestGetCasualPaymentsByPaymentRef" />
  <xs:complexType name="RequestGetActiveAccounts">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q7:RequestMessageFacilityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageNumber" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetActiveAccounts" nillable="true" type="tns:RequestGetActiveAccounts" />
  <xs:complexType name="RequestTransferCustomerAccount">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q8:RequestMessageByAccountIdBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="TargetFacilityIdentifier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestTransferCustomerAccount" nillable="true" type="tns:RequestTransferCustomerAccount" />
  <xs:complexType name="RequestGetPaymentHistoryByStatusForDateRange">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q9:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" type="q9:DocketStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetPaymentHistoryByStatusForDateRange" nillable="true" type="tns:RequestGetPaymentHistoryByStatusForDateRange" />
  <xs:complexType name="RequestGetPaymentHistoryStatusByAccountId">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q10:RequestMessageByAccountIdBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetPaymentHistoryStatusByAccountId" nillable="true" type="tns:RequestGetPaymentHistoryStatusByAccountId" />
  <xs:complexType name="RequestAdjustAccountTerminationDate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Debitsuccess.WebServices.Core" base="q11:RequestMessageByAccountIdBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestAdjustAccountTerminationDate" nillable="true" type="tns:RequestAdjustAccountTerminationDate" />
</xs:schema>